/* .md-header__button  {
    display: none !important;
}
.md-icon {
    display: none !important;
} */
.md-nav__button  {
    display: none !important;
}
.md-logo {
    display: none !important;
}
.data-md-component {
    display: none !important;
}
.md-nav__title {
    display: none !important;
}